# Entorno virtual de Python
venv/
.venv/

# Caché de paquetes de Spark (se descarga sola)
.ivy2/

# Archivos temporales de Python
__pycache__/
*.pyc

# Configuración de VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db